* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado {
    width: 20%;
    height: 200px;
    background-color: rgb(62, 5, 219);
    margin: 40px auto;
}

.dois-quadrados {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quadrado1 {
    width: 100px;
    height: 100px;
    background-color: rgb(5, 114, 124);
    margin: 6px;
}

.quadrado2 {
    width: 100px;
    height: 100px;
    background-color: rgb(202, 13, 186);
    margin: 6px;
}

.pagina-semafaro {
    height: 100vh;
    display: flex;
    gap: 15px;
    padding: 10px;
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.semafaro {
    width: 180px;
    height: 400px;
    display: flex;
    border-radius: 30px;
    background: rgb(0, 0, 0);
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circulo1 {
    width: 100px;
    height: 100px;
    background-color: rgb(196, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

.circulo2 {
    width: 100px;
    height: 100px;
    background-color: rgb(238, 255, 0);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(251, 255, 0);
}

.circulo3 {
    width: 100px;
    height: 100px;
    background-color: rgb(6, 173, 0);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(30, 255, 0);
}