@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@439&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    color: rgb(109, 23, 67);
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(235, 162, 172);
    margin: 0 auto 20px;
    border-radius: 8px;
    border: 6px solid rgb(238, 197, 218);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(238, 197, 218);
    border: 2px solid rgb(182, 97, 141);
    margin: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}